@import url(./fonts.css);

@import url(./partials/_variables.css);

@import url(./partials/_global.css);


.header_area .main-menu .navbar .navbar-brand {
    padding: 5px 2em 0 5em;
}

.navbar-brand {
    color: black;
    font-family: 'Exo', sans-serif;
    font-size: 30px;
}

.header_area .main_menu .navbar {
    padding: 1em 20em;
}

.navbar-nav {
    padding-right: 7em;
}

.header_area .main-menu .nav-item .nav-link {
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7em;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.mobile-bar {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5em 1em;

}

.mobile-bar span{
    border: 1px black solid;
    display: block;
    height: 2px;
    width: 20px;
    margin: 2px;
    background: black;
}





.site-main .site-banner {
}

.site-main .site-banner .site-title h3 {
    padding-top: 25%;
    font-weight: 500;
}

/* .site-main .site-banner .site-title h3::after {
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
} */

.site-main .site-banner .site-title h1 {
    font-size: 3.8rem;    
}

.site-main .site-banner .site-title h4 {
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img {
    padding: 50px 0 0 0;
    width: 35rem;
}

.site-main .about-area {
    padding: 3rem 5rem 0 5rem;
}

.site-main .about-area .about-title h2 > span {
    display: block;
    font: normal bold 49px/ 60px var(--roboto);
    letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p {
    padding: .4rem 0;
}

.about-image1 {
    display: none;
}

.site-main .skills-area {
    padding: 5rem 2rem 2rem 2rem;
}

.site-main .skills-area .skills-title {
    padding: 0 14rem;
}

.site-main .skills-area .skills-title h1 {
    font-size: 35px;
}

.site-main > .skills-area .skills {
    background: rgba(248, 252, 253, 0,973);
    padding: 2rem 0 0 0;
    width: 16rem;
    margin: 2rem .5rem;
    transition: box-shadow .7s ease;
}

.site-main > .skills-area .skills:hover {
    box-shadow: var(--box-shadow);
}

.site-main .project-area {
    padding: 4rem 0;
}

.site-main .project-area .button-group button {
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--roboto);
    text-transform: uppercase;
}

.site-main .project-area .button-group button + button {
    padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4 {
    font: normal 700 25px/12px var(--roboto);
}

.site-main .project-area .grid .our-project .img a:hover img {
    filter: brightness(1.1)drop-shadow(1px 8px 30px #b1afaf);
}

.site-main .about-area .about-title p {
    padding: 1rem 7rem;
}

.site-main .about-area .client {
    background: #ffffff10;
    box-shadow: var(--box-shadow);
    margin: 3rem 0rem;
}

.site-main .about-area .client .client-img {
    padding: 2rem;
}

.site-main .about-area .client .about-client {
    padding-top: 2rem;
}

.site-main .about-area .client .about-client h4 {
    font: normal 500 21px/ 20px var(--roboto);
}

.site-main .about-area .client .about-client p {
    font-size: 14px;
}

.site-main .about-area .owl-carousel .owl-item {
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}

.site-main .about-area .owl-carousel .owl-dots .owl-dot.active span {
    background: var(--primary-color);
    width: 12px;
    height: 12px;
}

footer.footer-area {
    padding: 5rem 0;
    background: url(../images/footer-bg.png) no-repeat;
}

footer.footer-area .social h5 {
    font: normal 500 23px/ 30px var(--roboto);
}

footer.footer-area .social a > i {
    font-size: 22px;
    padding: 2rem;
    color: var(--border-color);
}

footer.footer-area .social a:hover > i {
    color: var(--primary-color);
}

#fixedButton {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #fixedButton::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #fixedButton.show {
    opacity: 1;
    visibility: visible;
  }
  
  /* Styles for the content section */
  
  .content {
    width: 77%;
    margin: 50px auto;
    font-family: 'Merriweather', serif;
    font-size: 17px;
    color: #6c767a;
    line-height: 1.9;
  }
  @media (min-width: 500px) {
    .content {
      width: 43%;
    }
    #fixedButton {
      margin: 30px;
    }
  }
  .content h1 {
    margin-bottom: -10px;
    color: #03a9f4;
    line-height: 1.5;
  }
  .content h3 {
    font-style: italic;
    color: #96a2a7;
  }

  .fixedButton{
    position: fixed;
    bottom: 0px;
    right: 0px; 
    padding: 20px;
}
.roundedFixedBtn{
  height: 60px;
  line-height: 80px;  
  width: 60px;  
  font-size: 2em;
  font-weight: bold;
  border-radius: 50%;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
}

#arrowUp {
    line-height: 60px;
}

.img {
    position: relative;
}

.img .projectButton1 {
    position: absolute;
    bottom: 30px;
    right: 100px;
    border: none;
    background: black;
    color: red;
    padding: 7px 40px 10px 40px;
    border-radius: 10px;
    margin: 0 auto;
    display:inline-block;
    justify-content: center;
    text-decoration: none;
}

.img .projectButton1:hover {
    background: white;
    color: red;
}
.img .projectButton2 {
    position: absolute;
    bottom: 30px;
    right: 100px;
    border: none;
    background: white;
    color: blue;
    padding: 7px 40px 10px 40px;
    border-radius: 10px;
    margin: 0 auto;
    display:inline-block;
    justify-content: center;
    text-decoration: none;
}

.img .projectButton2:hover {
    background: blue;
    color: white;
}
.img .projectButton3 {
    position: absolute;
    bottom: 30px;
    right: 100px;
    border: none;
    background: white;
    color: grey;
    padding: 7px 40px 10px 40px;
    border-radius: 10px;
    margin: 0 auto;
    display:inline-block;
    justify-content: center;
    text-decoration: none;
}

.img .projectButton3:hover {
    background: grey;
    color: white;
}

.site-main .work-experience {
    background: #ffffff10;
    box-shadow: var(--box-shadow);
    margin: 3rem 0rem;
}

#workExperience {
    padding-top: 5rem;
}

.titles {
    font: normal bold 35px/ 40px var(--roboto);
}

.subtitle {
    font: normal bold 25px/ 30px var(--roboto);
    background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 50px;
    text-align: center;
}

.col-centered {
    margin: 0 auto;
}